*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body{
    font-family: "Montserrat", sans-serif;
    line-height: 2;
    width: 100%;
    height: 100vh;
}

main{
    margin: 20px;
}

.header_title, .presentation_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    text-align: center;
}

.header_name{
    font-size: 40px;
}

.header_parrafo{
    color: #777C6D;
    margin-top: 30px;
}

.nav{
    margin-top: 30px;
}
.nav_list{
    display: flex;
    justify-content: space-around;
    margin: 0 10px;
    flex-wrap: wrap;
}

.nav_link, .button{
    color: black;
    margin-left: 10px;
}

.nav_link--activate{
    color: #0046FF;
    font-weight: bold;

}

.nav_link, .button{
    text-decoration: none;
    cursor: pointer;
}

.nav_link:hover{
    color: #0046FF;
}

.nav_list{
    list-style: none;
}

.presentation{
    background-color: #EEEEEE;
    text-align: center;
}

.presentation_title{
    font-size: 50px;
    margin-top: 100px;
}

.presentation_subtitle{
    color: #0046FF;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px ;
    margin-bottom: 25px;
}

.presentation_description{
    max-width: 600px;
    margin-bottom: 70px;
}

.presentation_actions{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.button{
    font-weight: bold;
    border: 2px solid #0046FF;
    padding: 15px;
    cursor: pointer;
}

.button--primary{
    color: white;
    background-color: #0046FF;
    margin-right: 30px;
}

.button--primary:hover{
    color: #0046FF;
    background-color: #f0f4ff;
}

.button--secundary{
    background-color: white;
    color: #0046FF;
}

.button--secundary:hover{
    background-color: #f0f4ff;
}


.presentation_stats{
    display: flex;
    margin: 80px 0;
}

.stat{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
}

.stat_number{
    display: block;
    color: #0046FF;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about_container{
    display: flex;
    flex-direction: column;
    max-width: 800px;
    margin: 150px auto 60px;
}

.about_title{
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
}

.about_subtitle{
    text-align: center;
    font-size: 20px;
}

.about_text{
    color: #777C6D;
    margin: 30px auto;
}

.quote{
    display: flex;
    flex-direction: column;
    background-color: #EEEEEE;
    border-left: 4px solid #0046FF;
}

.quote_phrase{
    margin: 20px;
    font-size: 18px;
    font-style: italic;
}
.quote_author{
    text-align: right;
    margin: 20px;
    font-style: italic;
}

.values_title{
    margin: 20px;
    text-align: center;
    font-size: 30px;
}
.values_item{
    display: flex;
    align-items: center;
    margin: 20px auto;
    background-color: #EEEEEE;
    padding: 20px;
    max-width: 800px;
}

.values_icon{
    margin-right: 10px;
}

.values_value{
    font-weight: bold;
    margin-right: 10px;
}

.projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
    margin: 50px auto;
    background-color: #EEEEEE;
}

.projects_container{
    display: flex;
    flex-direction: column;
    
}

.projects_title{
    text-align: center;
    margin: 70px auto 30px;
    font-size: 30px;
}

.projects_subtitle{
    text-align: center;
    margin-bottom: 30px;
    margin: 20px;
}

.projects_description{
    background-color: white;
    margin: 20px 20px;
    padding: 20px;
}

.projects_description:hover{
    border: 1px solid #0046FF
}

.first_project_title{
    margin-top: 40px;
    font-size: 22px;
    margin-bottom: 20px;
}

.first_project_subtitle{
    margin: 20px auto 10px;
    font-weight: bold;
}

.project_list{
    margin-left: 20px;
    margin-bottom: 20px;
}

.project_tech{
    display: inline-block;
    background-color: #e0f2fe;
    color: #0369a1;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    font-weight: bold;
}

.project_ancla{
    display: flex;
    flex-wrap: wrap;
}
.project_link{
    text-decoration: none;
    margin-right: 20px;
    color: #0046FF;
    font-weight: bold;
    
}

.project_tag{
    width: 110px;
    background-color: #0046FF;
    color: white;
    padding: 10px;
    text-align: center;
}

.project-modificador{
    border: 1px solid #0046FF;
}

.skills_container{
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 50px auto;
}

.skills_title{
    margin: 50px auto 20px;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}

.skills_subtitle{
    text-align: center;
    color: #777C6D;
    font-size: 25px;
    font-weight: bold;
}

.skills_description{
    font-weight: bold;
    font-size: 25px;
    margin: 20px;
    
}

.progress_container{
    background-color: #e0e0e0;;
    height: 30px;
    width: 95%;
    margin: 20px 20px;
}

.progress{
    background-color: #0046FF;
    height: 30px;
    width: 75%;
}

.progress-moduno{
    width: 60%;
}

.progress-moddos{
    width: 20%;
}

.progress_percentage{
    margin-left: 20px;
}

.learning{
   display: flex;
    flex-direction: column;
    max-width: 850px;
    margin: 50px auto;
    background-color: #EEEEEE;
}

.learning_container{
    display: flex;
    flex-direction: column;
}

.learning_title{
    margin: 50px 20px 20px;
}

.learning_list{
    margin-bottom: 20px;
}

.learning_item{
    margin-left: 50px;
}

.contact_container{
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    background-color: #EEEEEE;
    margin: 80px auto 0px;
    align-items: center;
}

.contact_title{
     margin-top: 80px;
     margin-bottom: 20px;
     font-size: 30px;
     text-align: center;
}

.contact_subtitle{
    text-align: center;
    max-width: 90%;
    margin-bottom: 60px;
}

.grids{
    display: flex;
}

.grids_container{
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    text-align: center;
}

.grids_description{
    font-size: 18px;
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin-bottom: 60px;
}

.grids_description:hover{
    color:#0046FF;
}

.cv{
    margin-bottom: 60px;
}

.download_cv{
    font-size: 18px;
    padding: 15px;
    color: white;
    background-color: #0046FF;
    text-decoration: none;
}

.download_cv:hover{
    background-color: #e0f2fe;
    border: 1px solid #0046FF;
    color: black;
}

.footer_container{
    background-color: black;
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
}

.footer_nav_list{
    display: flex;
    justify-content: space-around;
    margin: 50px auto 20px;
    list-style: none;
    flex-wrap: wrap;
}

.footer_link{
    text-decoration: none;
    color: white;
    margin-right: 15px;
    margin-left: 10px;
    
}
.footer_copyright{
    text-align: center;
}

.footer_description{
    margin: 10px auto 60px;
    text-align: center;
}

.grids_container:last-child{
    margin: 0 10px;
}